   /* #212121 text gray onother color
    #000000 text black color
    #2196F3  text blue color
    #757575  text grey color
    #2F303A   background color
    */
:root {
    --primary-text-color :#757575;
    --primary-title-color :#212121;
    --accent-color :#2F303A;

}





body {
    background-color: #ECECEC5;
    color: var(--primary-text-color);
    font-family: 'Roboto';
    
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/*logo styles*/
.header-logo-link {
    width: 145px;
    height: 31px;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}
.header-logo-blue {
    color: #2196F3 }
.header-logo-black {
    color: #000000; }

/* hesder styles  */
.header-main, .header-nav, {
    width: 1600px;
    height: 80px;
}
.header-nav-link {
    color: #212121
}
     .header-nav-link:hover,
     .header-nav-link:focus,
     .header-nav-link:active {
    color: #2196F3;
}
.contacts-header-link {
    color:#757575 ;
}
     .contacts-header-link:hover,
     .contacts-header-link:focus, 
     .contacts-header-link:active  { color:#2196F3; }



/* Main, hero section- styles */
/* SECTION***HERO*** */

.hero {
    background-color: #2F303A;
}
.header-main .header-nav {
        width: 1600px;
        height: 80px;
        background: #FFFFFF;
}
.hero-title {
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
      
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        color: #FFFFFF;
}


/*h3 and text styles */
.strength-name, .team-name, .work-title, .team-title {
        color: #212121;
}
.strength-text, .team-text {
        color: #757575;
}

/*strenght section styles*/
.strenght, .work {
    background-color: #F5F5F5;
}

/*team section styles*/
.team {
    background-color: #F5F4FA;
}






/* footer section styles  */

