   /* #212121 text gray onother color
    #000000 text black color
    #2196F3  text blue color
    #757575  text grey color
    #2F303A   background color
    */
:root {
    --primary-text-color :#757575;
    --primary-title-color :#212121;
    --accent-color :#2F303A;
    
    --logo-text-blue :#2196F3;
    --logo-text-black :#000000;
    --link-active-color: #2196F3;
    --hero-title-color: #FFFFFF;
    --hero-background-color: #2F303A;
    --body-backgroud-color: #FFFFFF;
    --team-background-color:#F5F4FA;

    
    --footer-background-color: #2F303A;
}

body {
    font-family: 'Roboto';
    color: var(--accent-color);
    background-color: var(--body-backgroud-color);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/*logo styles*/
.header-logo-link {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}
.header-logo-blue {
    color: var(--logo-text-blue) }
.header-logo-black {
    color: var(--logo-text-black );
 }

/* header styles  */
.header-main, .header-nav, {
    width: 1600px;
    height: 80px;
}
.header-nav-link {
    color: var(--primary-title-color)
}
     .header-nav-link:hover,
     .header-nav-link:focus,
     .header-nav-link:active {
    color: var(--link-active-color);
}
.contacts-header-link {
    color:var(--primary-text-color) ;
}
     .contacts-header-link:hover,
     .contacts-header-link:focus, 
     .contacts-header-link:active  { 
    color: var(--link-active-color); }

.header-nav .header-nav-link.current {
    color: #2196F3;
}


/* Main, hero section- styles */
/* SECTION***HERO*** */

.hero { 
    background-color: var(--hero-background-color);
}
.hero-title {
    color: var(--hero-title-color);
}

.button {
    color: var(--hero-title-color);
    background-color: var(--link-active-color);
}

/*strenght section styles*/
.strenght, .work {
    background-color: var(--body-backgroud-color);
}


/*h3 and text styles */
.strength-name, .team-name, .work-title, .team-title {
        color: var(--primary-title-color);
}
.strength-text, .team-text {
        color: var(--primary-text-color);
}







/*strenght section styles*/





/*team section styles*/
.team {
    background-color: var(--team-background-color);
}






/* footer section styles  */
.footer {
    background-color: var(--footer-background-color);
}
