body {
    font-family: 'Roboto';
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/*logo styles*/
.header-logo-link {
    width: 145px;
    height: 31px;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}
.header-logo-blue {
    color: #2196F3 }
.header-logo-black {
    color: #000000; }

/* hesder styles  */
.header-main, .header-nav, {
    width: 1600px;
    height: 80px;
}
.header-nav-link {
    color: #212121
}
     .header-nav-link:hover,
     .header-nav-link:focus,
     .header-nav-link:active {
    color: #2196F3;
}





/* Main, hero section- styles */
/* SECTION***HERO*** */

.hero {
    background-color: #2F303A;
}
.header-main .header-nav {
        width: 1600px;
        height: 80px;
        background: #FFFFFF;
}

.hero-title {
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
      
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        color: #FFFFFF;
}




/* footer section styles  */
.footer-main {
    background-color: #2F303A
}

.footer-link-address {
    color:#000000
}

.footer-link-address:hover, 
.footer-link-address:focus, 
.footer-link-address:active {
color: #FFFFFF;
}
